<h1>Informations de la partie</h1>

<!-- <p>Number of Players : {{ info.players.length }} </p> -->
<mat-card id="game-info">
    <p>
        <span>C'est au tour de</span>
        <span class="name"> {{ info.activePlayer.name }} </span>
        <span>de jouer!</span>
    </p>
    <p id="timer" *ngIf="!timerIsLessOneMinute(timeLeft$ | async)">{{ timeLeft$ | async | date: 'mm:ss' }} minutes restantes...</p>
    <p id="timer" *ngIf="timerIsLessOneMinute(timeLeft$ | async)">{{ timeLeft$ | async | date: 'ss' }} secondes restantes...</p>
    <p>Il reste {{ info.numberOfLettersRemaining }} lettres dans le sac!</p>
</mat-card>

<div *ngIf="info.isEndOfGame">
    <H1>Félicitation à: {{ this.showWinner() }}</H1>
</div>
