<mat-card class="game-info">
    <div class="timer">
        <mat-progress-spinner class="timer-spinner" [value]="timeLeftPercent$ | async"></mat-progress-spinner>
        <p id="timer-greater-one-minute" *ngIf="!timerIsLessOneMinute(timeLeft$ | async)">{{ timeLeft$ | async | date: 'mm:ss' }}</p>
        <p id="timer-less-one-minute" *ngIf="timerIsLessOneMinute(timeLeft$ | async)">{{ timeLeft$ | async | date: 'ss' }}</p>
    </div>
    <p id="letters-in-bag">Il reste {{ numberOfLettersRemaining }} lettres dans le sac</p>
</mat-card>

<div *ngIf="isEndOfGame">
    <H1>Félicitation à: {{ this.showWinner() }}</H1>
</div>

