#game-info {
    font-size: 125%;
}
mat-card {
    margin: 5%;
    background-color: var(--lightgray);
    color: var(--black-chocolate);
}
// .playerInfo {
//     margin: 2%;
//     padding: 2%;
//     border: solid black 2px;
//     justify-self: center;
// }

.name {
    font-size: 100%;
    font-weight: 700;
}
// .score {
//     justify-self: end;
//     font-size: 85%;
// }
