mat-card {
    margin: 5%;
    background-color: var(--white);
    opacity: 0.8;
    color: var(--black-chocolate);
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 125%;
}

.name {
    font-size: 100%;
    font-weight: 700;
}
