<mat-dialog-content >
    <mat-form-field>
        <input matInput autocomplete="off" [(ngModel)]="tempDict.title" placeholder="Titre du dictionnaire" />
    </mat-form-field>
    <mat-form-field>
        <input matInput autocomplete="off" [(ngModel)]="tempDict.description" placeholder="Description" />
    </mat-form-field>
    <p *ngIf="!isEditedCorrectly" class="errorText">Une erreur est survenue lors de la modification, veuillez réessayer</p>
    <div class="uploadButton">
        <button mat-button (click)="uploadEdit()">Modifier</button>
    </div>
</mat-dialog-content>
