<mat-dialog-content style="display: flex; flex-direction: column">
    <mat-form-field>
        <input matInput autocomplete="off" [(ngModel)]="tempDict.title" placeholder="Titre du dictionnaire" />
    </mat-form-field>
    <mat-form-field>
        <input matInput autocomplete="off" [(ngModel)]="tempDict.description" placeholder="Description" />
    </mat-form-field>
    <p *ngIf="!isEditedCorrectly" class="errorText">Une erreur est survenue lors de la modification, veuillez réessayer</p>
    <div style="display: flex; flex-direction: row">
        <button mat-button (click)="uploadEdit()">Upload Edit</button>
        <button mat-button (click)="delete()">Delete</button>
    </div>
</mat-dialog-content>
