<h1>Chat</h1>
<div class="chatContainer">
    <div #chat class="sharedChat">
        <div
            *ngFor="let message of messages$ | async"
            [ngClass]="{ System: message.type === 'System', Player1: message.type === 'Player1', Player2: message.type === 'Player2' }"
            [innerHTML]="generateMessageHTML(message)"
        ></div>
    </div>
    <input matInput autofocus type="text" class="chat" [formControl]="messageForm" autocomplete="off" (keyup.enter)="sendMessage()" />
</div>
