mat-form-field {
    margin: 2%;
    margin-top: 4%;
    color: whitesmoke;
    width: 95%;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sharedChat {
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    word-break: normal;
    background-color: var(--white);
    opacity: 0.9;
    margin: 1%;
}

#message {
    max-width: 100%;
}

.systemMessage {
    color: red !important;
    font: red !important ;
    font-family: cursive;
}

.System {
    color: red;
}

.Player1 {
    color: black;
}

.Player2 {
    color: red;
}
