<h1>Chat</h1>
<div class="chatContainer" appClickAndClickout [inputComponent]="self" (click)="click()">
    <mat-card #chat class="sharedChat">
        <div
            *ngFor="let message of messages$ | async"
            [ngClass]="{ System: message.type === 'System', Player1: message.type === 'Player1', Player2: message.type === 'Player2' }"
            [innerHTML]="generateMessageHTML(message)"
        >
            {{ message.from }} : {{ message.content }}
        </div>
    </mat-card>
    <mat-form-field appearance="fill">
        <input matInput #enter type="text" [(ngModel)]="messageContent" autocomplete="off" autofocus (keyup.enter)="sendMessage()" placeholder="Aa" />
        <mat-hint #red *ngIf="isError(enter.value.length)" style="color: #e53935">{{ enter.value.length }}/{{ maxMessageLength }}</mat-hint>
        <mat-hint *ngIf="!isError(enter.value.length)" style="color: #ffffff">{{ enter.value.length }}/{{ maxMessageLength }}</mat-hint>
    </mat-form-field>
</div>
