// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@use './app/pages/material-page/material-page.component.theme' as material-page;
// Plus imports for other components in your app.
@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-primary: mat-palette($mat-blue-grey, 50);
$my-accent: mat-palette($mat-indigo, 700);

$my-theme: mat.define-dark-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $mat-red,
        ),
    )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.all-component-colors($my-theme);
@include material-page.theme($my-theme);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.indigo-pink-theme {
    // Nothing to do. This is the default theme
    $indigo-pink-theme: mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette(mat.$indigo-palette),
                accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
                warn: mat.define-palette(mat.$red-palette),
            ),
        )
    );

    @include mat.all-component-themes($indigo-pink-theme);
    @include material-page.theme($indigo-pink-theme);
}
.deeppurple-amber-theme {
    $deeppurple-amber-theme: mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette(mat.$deep-purple-palette),
                accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($deeppurple-amber-theme);
    @include material-page.theme($deeppurple-amber-theme);
}

.pink-bluegrey-theme {
    $pink-bluegrey-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
                accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($pink-bluegrey-theme);
    @include material-page.theme($pink-bluegrey-theme);
}

.purple-green-theme {
    $purple-green-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$purple-palette, 700, 500, 800),
                accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($purple-green-theme);
    @include material-page.theme($purple-green-theme);
}

/* You can add global styles to this file, and also import other style files */

:root {
    --lightblue: rgb(152, 222, 255);
    --lightgray: rgb(209, 209, 209);
    --darkgray: rgb(119, 119, 119);
    --brown: rgb(129, 82, 63);
    --white: rgb(255, 255, 255);

    --blue-munsell: rgb(10, 57, 185);
    --melon: rgb(238, 68, 96);
    --salmon: rgb(209, 0, 45);
    --powder-blue: rgb(53, 163, 226);
    --borwn-choco: rgb(80, 62, 57);
    --black-chocolate: rgba(20, 16, 9, 1);
    --bone: rgb(240, 231, 216, 1);
    --error: rgb(175, 0, 0);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: #20262c;
}
h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(16, 0, 41);
    color: rgb(233, 231, 231);
    border-radius: 0.6rem;
}

// Font
@font-face {
    font-family: overpass;
    src: url('https://fonts.googleapis.com/css2?family=Overpass&display=swap') format('opentype');
}
