<div class="justified">
    <button mat-flat-button color="primary" [routerLink]="['/classic']">Partie Classique</button>
    <button mat-flat-button color="primary" [routerLink]="['/log2990']">Partie LOG2990</button>
    <button mat-flat-button color="primary" [routerLink]="['/leaderboard']">Meilleurs Scores</button>
</div>
<!-- <hr style="margin-top: 10%" /> -->
<!-- <div class="justified">
    <h3>LEGACY PAGES</h3>
    <button mat-button [routerLink]="['/oldhome']">Old Home</button>
    <button mat-button [routerLink]="['/game']">Game</button>
    <button mat-button [routerLink]="['/material']">Materials</button>
</div> -->
