<div class="bg-img">
    <div class="container">
        <img src="^assets/img/logoWhite.png" width="200" height="50" alt="Logo Scrabble" />
        <app-player-info></app-player-info>
        <app-info-box></app-info-box>
        <app-chat-box></app-chat-box>
        <app-board></app-board>
        <app-horse></app-horse>
        <div class="actions">
            <button mat-raised-button color="accent" [disabled]="!isItMyTurn" (click)="passer()">Passer</button>
        </div>
        <div class="abandonner">
            <button mat-raised-button [routerLink]="['/home']" (click)="abandonner()" *ngIf="!isEndOfGame">Abandonner la partie</button>
            <button mat-raised-button [routerLink]="['/home']" (click)="abandonner()" *ngIf="isEndOfGame">Quitter</button>
        </div>
    </div>
</div>
