<div class="bg-img">
    <div class="container" appMouseRoll>
        <img src="assets/img/logoWhite.png" width="200" height="50" alt="Logo Scrabble" />
        <app-player-info></app-player-info>
        <app-info-box></app-info-box>
        <div class="container-objectives-and-chat">
            <app-objectives-list class="indigo-pink-theme"></app-objectives-list>
            <app-chat-box (clickChatbox)="receiveInput($event)"></app-chat-box>
        </div>
        <app-board (clickTile)="receiveInput($event)"></app-board>
        <app-horse appPreventContextMenu (clickLetter)="receiveInput($event)"></app-horse>
        <div class="actions">
            <div>
                <button mat-raised-button color="accent" [disabled]="!canPass" (click)="pass()">Passer</button>
                <button mat-raised-button color="accent" [disabled]="!canExchange" (click)="confirm()">Échanger</button>
            </div>
            <div>
                <button mat-raised-button color="accent" [disabled]="!canPlace" (click)="confirm()">Placer</button>
                <button mat-raised-button color="accent" [disabled]="!canCancel" (click)="cancel()">Annuler</button>
            </div>
        </div>
        <div class="abandonner">
            <button mat-raised-button (click)="abandon()" *ngIf="!isEndOfGame">Abandonner la partie</button>
            <button mat-raised-button (click)="quit()" *ngIf="isEndOfGame">Quitter</button>
        </div>
    </div>
</div>
