<div class="container">
    <img src="/assets/img/logoWhite.png" width="200" height="50" alt="Logo Scrabble" />
    <app-player-info></app-player-info>
    <app-info-box></app-info-box>
    <app-chat-box></app-chat-box>
    <app-board></app-board>
    <app-horse></app-horse>
    <div class="button">
        <button class="passer" mat-raised-button color="accent" [disabled]="!isItMyTurn" (click)="passer()">Passer</button>
    </div>
    <button class="abandonner" mat-raised-button [routerLink]="['/home']" (click)="abandonner()">Abandonner la partie</button><br />
</div>
