.container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 1.2fr;
    grid-template-rows: 1fr 1fr 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
      "Board Board Board Info"
      "Board Board Board Info"
      "Board Board Board Chat"
      "Horse Horse Horse Chat";
      height: 100vh;//100% view height
      width: 100vw;// 100% view width
      overflow: hidden;
  }

app-info-box {
    grid-area: Info;
    // border: 1px solid grey; //A Enlever
    padding: 1%;
    // border-style: solid;
}

app-chat-box {
    grid-area: Chat;
    border-style: solid;
    width: 100%;
    overflow-wrap: anywhere;
    word-break: normal;
}
app-board {
    grid-area: Board;
    padding: 3%; //TODO:Tochange
    border: 2px solid black;
    // border-style: solid;
}

app-horse {
    grid-area: Horse;
    border: 1px solid grey;
    // border-style: solid;
}
