.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'Player Board Board Board Board Info'
        'Player Board Board Board Board Chat'
        'Player Horse Horse Horse Horse Chat';
    height: 85vmin;
}

app-info-box {
    grid-area: Info;
    border: 1px solid var(--darkgray);
    padding: 1%;
}

app-chat-box {
    grid-area: Chat;
    border: 1px solid var(--darkgray);
    width: 100%;
    overflow-wrap: anywhere;
    word-break: normal;
}
app-board {
    height: min-content;
    grid-area: Board;
    padding: 1%;
    border: 2px solid var(--darkgray);
    min-width: 50vw;
    //width: 90%;
}

app-horse {
    grid-area: Horse;
    //border: 1px solid var(--darkgray);
    //margin: 1%;
    //max-width: 25vw;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
app-player-info {
    grid-area: Player;
    padding: 1%;
    border: 1px solid var(--darkgray);
}
