#waitingForPlayer{
    display: none;
    z-index: 1;
    min-width: none;
    
}
h3{
    padding-right: 2%;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
