input[type='file'] {
    display: none;
}

.uploadContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fileContainer {
    height: 350px;
    width: 350px;
    background-color: grey;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
}

.downloadIcon {
    font-size: 50px;
    height: 50px;
    width: 50px;
    padding: 35px;
}


.selectedFileText {
    margin-top: 20px;
    height: 60px;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    height: 93vh !important;
}

.overflow {
    // height: 50%;
    overflow: auto;
}

.addButton {
    left: 90%;
    position: absolute;
    top: 90%;
}
