<div class="container" >
    <div class="list">
        <h1>Liste des dictionnaires</h1>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let item of dictMap | keyvalue; let i = index">
                <div (click)="showUpdateMenu(item.value)">
                    <div>
                        {{ item.value.title }}
                    </div>
                    <div>
                        {{ item.value.description }}
                    </div>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </div>

    <div class="uploadContainer">

        <input type="file" id="fileInput" accept=".json" (change)="showSelectedFile()" />
        <div class="fileContainer">
            <mat-icon class="downloadIcon">file_download</mat-icon>
            <label for="fileInput" class="textHover">Choisir un fichier</label>
            <p class="selectedFileText">{{ selectedFile }}</p>
            <button (click)="loadFile()" class="customButton">Upload</button>
        </div>
    </div>
</div>
