mat-grid-tile {
    // background-color: rgb(224, 236, 245);
    background-color: rgb(240, 231, 216);
}

mat-grid-list {
    // border: 2px solid black;
}
app-tile {
    height: 100%;
    width: 100%;
}
.boardContainer {
    display: inherit;
    padding: 2%;
    // border: 10px solid rgb(56, 47, 36);
    border: 10px solid rgb(16, 0, 7);
    // background-color: rgb(95, 69, 44);
    background-color: rgb(129, 82, 63);
}
.zoomPolice {
    display: inline-flex;
    width: 35%;
    // TODO : ajuster zoom
}
