mat-grid-tile {
    background-color: var(--bone);
}

app-tile {
    height: 100%;
    width: 100%;
}

mat-grid-list {
    display: flex;
    justify-content: space-evenly;
    border: 10px solid var(--brown-choco);
    border-radius: 0.4rem; //TODO
    background-color: whitesmoke;
}

mat-slider {
    width: 3%;
}

.boardContainer {
    // height: max-content;
    padding-left: 15%;
    padding-right: 15%;
    max-width: 66vmin;
    background-color: transparent;
}
.zoomPolice {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--black-chocolate);
}
