<h2>Configuration partie multijoueurs</h2>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <input matInput autocomplete="off" placeholder="Nom de joueur" formControlName="playerName" />
        <mat-hint>Le nom est différent du joueur 1. Min 3 charactères Max 50 charactères</mat-hint>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="!valid" (click)="sendParameter()">Commencer la partie</button>
</div>
