<mat-dialog-content id='content'>
    <mat-form-field>
        <input matInput autocomplete="off" [(ngModel)]="bot.name" placeholder="Nom du joueur virtuel" />
    </mat-form-field>
    <mat-form-field *ngIf="!isEdit">
        <mat-select placeholder="Difficulté du joueur virtuel" [(ngModel)]="bot.type">
            <mat-option value="Facile">Facile</mat-option>
            <mat-option value="Expert">Expert</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isEdit">
        <input matInput autocomplete="off" placeholder="Difficulté" readonly [value]="bot.type" />
    </mat-form-field>
    <div class='button' *ngIf="isEdit">
        <button mat-button color="primary" (click)="editBot()" [disabled]="!isValuesValid">Modifier le nom</button>
    </div>

    <div class='button' *ngIf="!isEdit">
        <button mat-button (click)="addBot()" [disabled]="!isValuesValid">Créer</button>
    </div>
</mat-dialog-content>
