<div *ngFor="let player of players; index as i">
    <mat-card
        class="playerInfo"
        id="{{ i }}"
        [ngClass]="{ active: player.name === activePlayerName, inactive: player.name !== activePlayerName }"
    >
        <mat-card-header>
            <span class="name">{{ player.name }} </span>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content class="grid-container">
            <span class="score"> {{ player.points }} points </span><br />
            <span class="score" *ngIf="!player.isLetterRackFull && lettersRemaining === 0">
                {{ player.letterRack.length }} lettres restantes dans le chevalet
            </span>
        </mat-card-content>
    </mat-card>
</div>
