// TODO: make it not useless
.app-objective {
    margin: 2%;
}

.mat-expansion-panel-header {
    margin: 5%;
}

.public {
    border-radius: 4px;
}

.private {
    border-radius: 4px;
}

.h3 {
    margin: 0px !important;
}
