.letterX2 {
    background-color: var(--powder-blue);
}

.letterX3 {
    background-color: var(--blue-munsell);
}

.wordX2 {
    background-color: var(--melon);
}

.wordX3 {
    background-color: var(--salmon);
}
.multiplicator {
    font-size: 0.4rem;
    padding-top: 14%;
    display: block;
}
.letter {
    font-family: 'overpass';
    // font-size: 1rem;
    font-weight: 700;
    size: inherit;
    border-radius: 10%;
    border: 1px solid rgb(134, 114, 98);
    background-color: rgb(240, 231, 216);
    background-image: url(/assets/img/woodCrop.png);
    background-size: contain;
    box-shadow: 2px 2px 2px 0.5;
    width: 90%;
    height: 90%;
}
