.letterX2 {
    background-color: var(--powder-blue);
}

.letterX3 {
    background-color: var(--blue-munsell);
}

.wordX2 {
    background-color: var(--melon);
}

.wordX3 {
    background-color: var(--salmon);
}
.multiplicator {
    font-size: 0.4rem;
    display: block;
}
