.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30vh;
    align-items: center;
}

app-new-solo-game-form {
    z-index: 1;
    left: 35%;
    top: 15%;
    width: 30%;
    height: 55%;
    position: absolute;
    overflow: auto;
}
