<div [ngClass]="{'classic-container' : !isSpecialGame, 'special-container': isSpecialGame}">
    <app-header-bar></app-header-bar>
    <div class="justified">
        <div class="game-mode-selection">
            <h1 class="game-mode-title">Mode de jeu : {{isSpecialGame ? 'Log2990' : 'Classique'}}</h1>
            <mat-slide-toggle [(ngModel)]="isSpecialGame" color="warn">Changer de mode</mat-slide-toggle>
        </div>
        <button mat-flat-button color="primary" (click)="openSoloGameForm()">Jouer une partie en solo</button>
        <button mat-flat-button color="primary" (click)="openMultiGameForm()">Créer une partie multijoueur</button>
        <button mat-flat-button color="primary" (click)="openPendingGames()">Joindre une partie multijoueur</button>
    </div>
</div>
