<div [ngClass]="{'classic-container' : !specialGame, 'special-container': specialGame}">
    <app-header-bar></app-header-bar>
    <div class="justified">
        <!-- TODO find better place for toggle and remove style-->
        <div style="color: green">NOT DEFINITIVE VERY UGLY</div>
        <mat-slide-toggle [(ngModel)]="specialGame" style="color: white">Changer de mode de jeux</mat-slide-toggle>
        <h1 style="color: white">Mode de jeu : {{specialGame ? 'Special' : 'Classic'}}</h1>
        <button mat-flat-button color="primary" (click)="openSoloGameForm()">Jouer une partie en solo</button>
        <button mat-flat-button color="primary" (click)="openMultiGameForm()">Créer une partie multijoueur</button>
        <button mat-flat-button color="primary" (click)="openPendingGames()">Joindre une partie multijoueur</button>
    </div>
</div>
