<h2>Configuration partie multijoueurs</h2>
<br />
<mat-dialog-content >
    <mat-form-field>
        <input matInput autocomplete="off" placeholder="Nom de joueur" [formControl]="oppName" />
        <mat-hint>Nom différent de l'adversaire. Min 3, Max 50 charactères</mat-hint>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Adversaire</mat-label>
        <input matInput [disabled]="true" [value]="data.playerName" />
    </mat-form-field>
    
    <br />
    <br />
    <mat-form-field >
        <mat-label #bonus>Bonus aléatoire </mat-label>
        <input matInput [disabled]="true" [value]="randomBonusType" />
    </mat-form-field>
    
    <mat-form-field >
        <mat-label>Dictionnaire de la partie</mat-label>
        <input matInput [disabled]="true" [value]="data.dictTitle" [matTooltip]="data.dictTitle" matTooltipPosition="right" />
    </mat-form-field>
    <br />
    <mat-form-field >
        <mat-label>Temps par tour </mat-label>
        <input matInput [disabled]="true" value="{{ data.timePerTurn | date: 'm:ss' }} min"  />
    </mat-form-field>
    <br />
    
</mat-dialog-content>
<br />
<mat-dialog-actions>
    <button mat-button [mat-dialog-close] (click)="cancel()">Annuler</button>
    <button mat-button color="primary" [disabled]="!valid" (click)="sendParameter()">Commencer la partie</button>
</mat-dialog-actions>
