<div id="abandonGame-modal-wrapper">
    <header id="abandonGame-modal-header">
        <h1 id="abandonGame-modal-title">Voulez-vous abandonner la partie ?</h1>
    </header>
    <footer id="abandonGame-modal-footer">
        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base mat-accent abandonButton" (click)="abandon()">
            Abandonner
        </button>
        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base mat-accent closeButton" (click)="closeDialog()">
            Revenir
        </button>
    </footer>
</div>
