// #headerbar {
//     background-color: lightskyblue;
//     padding-top: 2%;
//     padding-left: 2%;
//     margin-bottom: 2%;
//     height: 5%;
//     border-bottom: medium solid navy;
// }

mat-toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
}

.title {
    padding-left: 2%;
    color: white;
}
