<div class="container">
    <div class="overflow mat-elevation-z8">
        <table mat-table class="mat-elevation-z8" [dataSource]="botDataInfo ">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let element" class="overflow-name">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Difficulté</th>
                <td mat-cell *matCellDef="let element">{{ element.type }}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>Édition</th>
                <td mat-cell *matCellDef="let element">
                    <div (click)="showUpdateMenu(element)" *ngIf="element.canEdit">
                        <button mat-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Supression</th>
                <td mat-cell *matCellDef="let element">
                    <div (click)="deleteBot(element)" *ngIf="element.canEdit">
                        <button mat-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="botDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: botDisplayedColumns"></tr>
        </table>
    </div>
    <div class="buttoncontainer">
        <button mat-button (click)="addBot()" class="button">Ajouter un joueur virtuel</button>
    </div>
</div>
