<mat-dialog-content>
    <mat-label>Configuration partie solo</mat-label>
    <br />
    <mat-form-field>
        <mat-label>Difficulté de votre adversaire</mat-label>
        <mat-select [formControl]="botDifficulty">
            <mat-option matNativeControl required value="easy">Débutant</mat-option>
            <mat-option matNativeControl required value="hard">Expert</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="cancel()">Annuler</button>
    <button mat-button color="primary" [disabled]="!valid" (click)="sendParameter()">Commencer la partie</button>
</mat-dialog-actions>
