<h2>Nouvelle Partie Multijoueurs</h2>
<mat-dialog-content [formGroup]="onlineGameSettingsUIForm">
    <mat-form-field>
        <input matInput autocomplete="off" placeholder="Nom de joueur" formControlName="playerName" />
        <mat-hint>Min 3 charactères Max 50 charactères</mat-hint>
    </mat-form-field>
    <br />
    <br />
    <mat-checkbox color="accent" formControlName="randomBonus">Bonus aléatoire</mat-checkbox>
    <br />
    <br />
    <mat-form-field>
        <mat-error>
            Dictionnaire supprimé, veuillez en choisir un autre
        </mat-error>
        <mat-label>Dictionnaire de la partie</mat-label>
        <mat-select [formControlName]="'dictTitle'">
            <mat-option
                *ngFor="let dict of dictList"
                matNativeControl
                required
                [value]="dict.title"
                [matTooltip]="dict.description"
                matTooltipPosition="right"
            >
                {{ dict.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <br />
    <mat-label>Temps par tour </mat-label>
    <mat-label>{{ timer.value | date: 'm:ss' }} min </mat-label> <br />
    <mat-slider
        #timer
        color="primary"
        [min]="minTimePerTurn"
        [max]="maxTimePerTurn"
        [step]="stepTimePerTurn"
        [formControlName]="'timePerTurn'"
    ></mat-slider
    ><br />
</mat-dialog-content>
<br />
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Annuler</button>
    <button mat-button (click)="playGame()" [disabled]="!formValid">Créer une partie</button>
</mat-dialog-actions>
