mat-card{
    margin: 5%;
}
.name {
    justify-self: center;
    font-size: 125%;
    font-weight: 900;
}
.score {
    justify-self: end;
    font-size: 85%;
}
button{
    display:flex;
    align-items: flex-end;
}