<h1>Joueurs</h1>
<div *ngFor="let player of info.players; index as i">
    <mat-card
        class="playerInfo"
        id="{{ i }}"
        [ngStyle]="{ 'background-color': player.name === info.activePlayer.name ? 'indigo' : 'var(--lightgray)' }"
    >
        <mat-card-header>
            <span class="name">{{ player.name }} </span>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content class="grid-container">
            <span class="score"> {{ player.points }} points </span><br />
            <span class="score" *ngIf="!player.isLetterRackFull"> {{ player.letterRack.length }} lettres restantes dans le chevalet </span>
        </mat-card-content>
    </mat-card>
</div>
<div class="button">
    <button class="passer" mat-raised-button color="accent" [disabled]="!isItMyTurn" (click)="passer()">Passer</button>
    <button class="abandonner" mat-raised-button color="accent" [routerLink]="['/home']" (click)="abandonner()">Abandonner la partie</button><br />
</div>
